{% extends 'admin/base.html' %}
{% load static %}

{% block title %}{% if title %}{{ title }} | {% endif %}Gates Labs Administration{% endblock %}

{% block extrahead %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Gates Labs Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
