{% extends 'app/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
    <div class="text-center">
        <img class="mt-5" id="text-logo" src="{% static 'img/text_logo.png' %}" />
        <h2 class="mt-5">Top 5 Players</h2>
        <table class="mt-3 table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player Name</th>
                    <th scope="col">Last Stage</th>
                    <th scope="col">Stage Name</th>
                </tr>
            </thead>
            <tbody>
                {% for player_data in top_5_players %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ player_data.player_name }}</td>
                        <td>{{ player_data.last_stage }}</td>
                        <td>{{ player_data.stage_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="mt-5">Recent Players</h2>
        <table class="mt-3 table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player Name</th>
                    <th scope="col">Last Stage</th>
                    <th scope="col">Stage Name</th>
                </tr>
            </thead>
            <tbody>
                {% for player_data in recent_players %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ player_data.player_name }}</td>
                        <td>{{ player_data.last_stage }}</td>
                        <td>{{ player_data.stage_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
